<!DOCTYPE html>
    <head>
        <Title>404 - Not Found</Title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
        <div class="container">
            <div style="font-size: 80px;" class=top>How Did You Get Here?</div>
            <div onclick=home() style="color: red; font-size: x-large; left:35%; top: 150px;" class=top>Return To Safety</div>
        </div>
        <style>
            body, html {
                height: 100%;
                margin: 0;
                background-color: rgb(212, 212, 212);
            }
            .container {
                position: relative;
                text-align: center;
                background-color: rgb(212, 212, 212);
            }
            .top {
                top: 8px;
                left: 85px;
                font-family: 'MinecraftiaRegular';
                position: absolute;
                text-align: center;
                text-shadow: 3px 3px rgb(212, 212, 212);
            }
            a {
                margin: 0px;
                font-family: 'MinecraftiaRegular';
                font-size: 10px;
                text-decoration: none;
                color: black;
            }
        </style>
    </head>
    <body>
        <a href="https://youtu.be/dQw4w9WgXcQ">Error 404: Thunder Not Found</a>
        <script>
            function home() { // When the Return Home button is clicked
                window.location.href = "https://" + document.domain // Return to the home domain
            }
        </script>
    </body>
<html>