<html>
   <head>
      <!--Page Header With Buttons and Titles-->
      <title>AAFSG</title>
      <button type="button" id="mode" onclick="changeMode()">Dark Mode</button>
      <button type="button" id="submit" onclick="generate()">Generate Seed</button>
      <button onclick="stats()">Stats</button>
      <h2 id="splash" class="splashtext"></h2>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
      <meta charset="utf-8">
      <style>
         h1 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
         }
         h2 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
            color: grey;
         }
         button {
            font-family: 'MinecraftiaRegular';
            size: large;
            font-size: large;
            font-weight: normal;
            font-style: normal;
            border-radius: 5px;
            border: none;
            color: green;
         }
         body {
            text-align: center;
            background-color: rgb(212, 212, 212);
         }
         p {
            font-family: 'MinecraftiaRegular';
         }
         a {
            color: black;
         }
         input {
            background-color: #d4d4d4;
            font-family: 'MinecraftiaRegular';
         }
         div {
            height: 50px;
         }
         .seed {
            font-size: 25px;
         }
         .splashtext {
            position: absolute;
            left: 80%;
            top: 10%;
            font-size: 20px;
            transform: rotate(30deg);
            color: yellow;
         }
      </style>
   </head>
   <body>
      <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"></script>
      <script>
        var socket = io.connect(window.origin)
        var mode = decodeURIComponent(document.cookie)
        socket.emit("splashText")
        socket.on("splash", text => {
            document.getElementById("splash").innerHTML = text
            setMode()
        });
        function generate() {
            socket.emit("generate")
        }
        function stats() {
            window.location.href = "https://" + document.domain + "/stats"
        }
        function passCheck() {
            socket.emit("password", document.getElementById("password").value)
        }
        function setMode() {
            if (mode === 'dark') {
                document.body.style.background = "#141414"
                text = document.getElementsByTagName("p")
                link = document.getElementsByTagName("a")
                for (i = 0; i < text.length; i++) {
                    text[i].style["color"] = "#00c23a"
                    text[i].style["text-shadow"] = "1px 1px #FFFFFF"
                }
                for (i = 0; i < link.length; i++) {
                    link[i].style["color"] = "white"
                }
                document.getElementById("mode").innerHTML = "Light Mode"
            }
            else {
                document.body.style.background = "#d4d4d4"
                text = document.getElementsByTagName("p")
                link = document.getElementsByTagName("a")
                for (i = 0; i < text.length; i++) {
                    text[i].style["color"] = "black"
                    text[i].style["text-shadow"] = "0px 0px"
                }
                for (i = 0; i < link.length; i++) {
                    link[i].style["color"] = "black"
                }
                document.getElementById("mode").innerHTML = "Dark Mode"

            }
            document.cookie = mode
        }

        function changeMode() {
            if (mode === 'dark')
                mode = 'light'
            else
                mode = 'dark'
            setMode()
        }
        socket.on("seed", (seed) => {
            document.getElementById("seed").innerHTML = "Seed: " + seed
            navigator.clipboard.writeText(seed)
        });
        socket.on("passCorrect", () => {
            window.location.href = "https://" + document.domain + "/verify"
        });

        window.addEventListener('keydown', (event) => {
            if(event.keyCode == 221){
                generate();
            }
        });
      </script>
      <p class='seed' id='seed'><p>
      <p>Press the 'Generate Seed' button to display and copy a seed.</p>
      <div style="height:15px"></div>
      <h2>Welcome to AAFSG!</h2>
      <p>This project generates filtered seeds to run All Advancements Speedruns on.
      It can be used for non-Pogloot runs or Pogloot runs, but you won't always get a perfect run without Pogloot.</p>
      <h2>Filters Used</h2>
      <p>This filters for: </p>
      <p>A Desert Temple with good loot in pos pos and Village within 16 chunks of spawn</p>
      <p>Rare Biomes (Snowy, Giant Tree, Mushroom, Badlands, Bamboo Jungle) within a box with corners -3k,-3k 3k,3k around spawn</p>
      <p>A bastion and fortress within 10 chunks of 0,0</p>
      <p>A very close end city from the first end gateway that contains a ship</p>
      <p>If running without Pogloot, use the <a href="https://github.com/DuncanRuns/Always-Thunder/releases">AlwaysThunder mod</a> to give thunder every rain cycle!</p>
      <div></div>
      <button onclick="passCheck()">Verification Page</button>
      <input autocomplete="false" type="text" id="password">
      <p><small>Made by and_penguin - <a href="https://github.com/andpenguin/AAFSG">Source Code</a> - <a href="https://www.paypal.com/donate/?hosted_button_id=YHS2HDH2G4K62">Support me on PayPal!</a></small></p>
   </body>
</html>