<html>
   <head>
      <!--Page Header With Buttons and Titles-->
      <title>AAFSG</title>
      <button type="button" id="submit" onclick="generate()">Generate Seed</button>
      <button onclick="stats()">Stats</button>
      <h2 id="splash" class="splashtext"></h2>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
      <meta charset="utf-8">
      <style>
         h1 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
         }
         h2 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
            color: grey;
         }
         button {
            font-family: 'MinecraftiaRegular';
            size: large;
            font-size: large;
            font-weight: normal;
            font-style: normal;
            border-radius: 5px;
            border: none;
            color: green;
         }
         html {
            background-color: rgb(212, 212, 212);
         }
         body {
            text-align: center;
         }
         p {
            font-family: 'MinecraftiaRegular';
         }
         a {
            color: black;
         }
         input {
            background-color: rgb(212, 212, 212);
            font-family: 'MinecraftiaRegular';
         }
         div {
            height: 50px;
         }
         .seed {
            font-size: 25px;
         }
         .splashtext {
            position: absolute;
            left: 80%;
            top: 10%;
            font-size: 20px;
            transform: rotate(30deg);
            color: yellow;
         }
      </style>
   </head>
   <body>
      <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"></script>
      <script>
        var socket = io.connect(window.origin)
        socket.emit("splashText")
        socket.on("splash", text => {
            document.getElementById("splash").innerHTML = text

        });
        function generate() {
            socket.emit("generate")
        }
        function stats() {
            window.location.href = "http://" + document.domain + "/stats"
        }
        function passCheck() {
            socket.emit("password", document.getElementById("password").value)
        }
        socket.on("seed", (seed) => {
            document.getElementById("seed").innerHTML = "Seed: " + seed
        });
        socket.on("passCorrect", () => {
            window.location.href = "http://" + document.domain + "/verify"
        });
      </script>
      <p class='seed' id='seed'><large></large><p>
      <p>Press the 'Generate Seed' button to begin generation.</p>
      <div></div>
      <h2>Welcome to AAFSG Open Beta!</h2>
      <p>This project generates filtered seeds to run All Advancements Speedruns on.
      It can be used for non-Pogloot runs, but because it does not check for loot,
      it is recommended to use Pogloot alongside of it.</p>
      <h2>Filters Used</h2>
      <p>This filters for: </p>
      <p>Rare Biomes (Snowy, Giant Tree, Mushroom, Badlands, Bamboo Jungle) within a box with corners -3k,-3k 3k,3k around spawn</p>
      <p>A bastion and fortress within 10 chunks of 0,0</p>
      <p>A very close end city from the first end gateway that contains a ship</p>
      <p>A Pillager outpost within 500 blocks of spawn</p>
      <div></div>
      <button onclick="passCheck()">Verification Page</button>
      <input autocomplete="false" type="text" id="password">
      <p><small>Made by and_penguin - <a href="https://github.com/andpenguin/AAFSG">Source Code</a> - <a href="https://www.paypal.com/donate/?hosted_button_id=YHS2HDH2G4K62">Support me on PayPal!</a></small></p>
   </body>
</html>