<html>
   <head>
      <!--Page Header With Buttons and Titles-->
      <title>AAFSG</title>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
      <button onclick="verify()">Verify Seed</button>
      <input autocomplete="false" type="text" id="seed">
      <meta charset="utf-8">
      <style>
         h1 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
         }
         h2 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
            color: grey;
         }
         td {
            font-family: 'MinecraftiaRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            border-radius: 10px;
            padding-left: 10px;
         }
         img {
            padding-right: 10px;
            padding-top: 5px;
            width: 20px;
         }
         button {
            font-family: 'MinecraftiaRegular';
            size: large;
            font-size: large;
            font-weight: normal;
            font-style: normal;
            border-radius: 5px;
            border: none;
            color: green;
         }
         html {
            background-color: rgb(212, 212, 212);
         }
         body {
            text-align: center;
         }
         p {
            font-family: 'MinecraftiaRegular';
         }
         input {
            background-color: rgb(212, 212, 212);
            font-family: 'MinecraftiaRegular';
         }
         div {
            height: 50px;
         }
         .seed {
            font-size: 25px;
         }
      </style>
   </head>
   <body>
      <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"></script>
      <script>
        var socket = io.connect(window.origin)
        socket.emit("statRequest")
        socket.on("date", date => {
            document.getElementById("date").innerHTML = date
        });
        function home() {
            window.location.href = "http://" + document.domain
        }
        function verify() {
            var seed = document.getElementById("seed").value
            socket.emit("verify", seed)
        }
      </script>
      <p id="date">Input a Seed to verify</p>
      <button onclick="home()">Home</button>
      <div></div>
      <p><small>Made by and_penguin - <a style="color: black;" href="https://github.com/andpenguin/AAFSG">Source Code</a></small></p>
   </body>
</html>